@using System.Diagnostics;
@page "/counter"

<p>Link: @linkToVideo </p>
<input @bind = "inputLink" / >
<button class="btn btn-primary" @onclick="Download">Click me</button>

<br />
<br />
<p>
<select class="d-flex" @bind="selectedFormat">
    <option value="">select Format</option>
    <option value="-mp3">Audio(mp3)</option>
    <option value="-mp4">Video(mp4)</option>
</select>
</p>



@code {  

    private string inputLink = "";
    private string linkToVideo = "";
    private string selectedFormat = "";

    List<string> arguments = new List<string>();   
    
    
    private void Download()
    {        
        
        arguments.Add(inputLink.ToString());
        if (true)
        {
            arguments.Add(selectedFormat);
        }
        
        linkToVideo = String.Join(" ", arguments.ToArray());

    }

    private void LauchDownlod()
    {
        // For the example
        // startInfo.Arguments = "-f j -o \"" + ex1 + "\" -z 1.0 -s y " + ex2;
        //const string ex1 = "C:\\";
        // const string ex2 = "C:\\Dir";


        // Use ProcessStartInfo class
        ProcessStartInfo startInfo = new ProcessStartInfo();
        startInfo.CreateNoWindow = false;
        startInfo.UseShellExecute = false;
        startInfo.FileName = "notepad.exe";
        //startInfo.WindowStyle = ProcessWindowStyle.Hidden;
        startInfo.Arguments = "";

        try
        {
            // Start the process with the info we specified.
            // Call WaitForExit and then the using statement will close.
            using (Process exeProcess = Process.Start(startInfo))
            {
                exeProcess.WaitForExit();
            }
        }
        catch
        {
             // Log error.
        }
    }

}
